# индивидуальные настройки дл¤ работы скрипта q_router.py
# содержит настройки работы с производственным конвейером:

g_routes = [
    {'solar_system': 'Tama',  # система указываетс¤ вручную дл¤ non-database скриптов
     'station': "Tama - Svarog Reaction & Reprocessing (Svarog Engineering)",
     'desc': '“атара, реакции',
     'output': [
        # Processed Moon Materials
          16663,  # Caesarium Cadmide
          57453,  # Carbon Fiber
          16659,  # Carbon Polymers
          16660,  # Ceramic Powder
          16655,  # Crystallite Alloy
          16668,  # Dysporite
          16656,  # Fernite Alloy
          16669,  # Ferrofluid
          17769,  # Fluxed Condensates
          16665,  # Hexite
          16666,  # Hyperflurite
          16667,  # Neo Mercurite
          57454,  # Oxy-Organic Solvents
          16662,  # Platinum Technite
          33337,  # Promethium Mercurite
          17960,  # Prometium
          16657,  # Rolled Tungsten Alloy
          16658,  # Silicon Diborite
          16664,  # Solerium
          16661,  # Sulfuric Acid
          57455,  # Thermosetting Polymer
          33336,  # Thulium Hafnite
          16654,  # Titanium Chromide
          17959,  # Vanadium Hafnite
        # Molecular-Forged Materials
          57469,  # Goal-Orienting Neurolink Stabilizer
          57463,  # Isotropic Neofullerene Alpha-3
          57464,  # Isotropic Neofullerene Beta-6
          57465,  # Isotropic Neofullerene Gamma-9
          57467,  # Reaction-Orienting Neurolink Stabilizer
          57468,  # Stress-Responding Neurolink Stabilizer
          57466,  # Ultradian-Cycling Neurolink Stabilizer
          57460,  # Axosomatic Neurolink Enhancer             <--- двойное назначение
          57461,  # Cogni-Emotive Neurolink Enhancer          <--- двойное назначение
          57459,  # Hypnagogic Neurolink Enhancer             <--- двойное назначение
          57462,  # Sense-Heuristic Neurolink Enhancer        <--- двойное назначение
          57458,  # Meta-Operant Neurolink Enhancer           <--- это варитс¤ из 4х редких реакций
        # Polymer Materials
          30311,  # C3-FTM Acid
          30310,  # Carbon-86 Epoxy Resin
          30305,  # Fullerene Intercalated Graphite
          30303,  # Fulleroferrocene
          30309,  # Graphene Nanoribbons
          30307,  # Lanthanum Metallofullerene
          30306,  # Methanofullerene
          30304,  # PPD Fullerene Fibers
          30308,  # Scandium Metallofullerene
     ],
     # Tatara: te -25% (reaction)
     'structure': 'Tatara',  # структура указываетс¤ вручную дл¤ non-database скриптов
     'structure_rigs': [
         {'activity': 'reaction',
          'me': -2.4,  # material consumption (расход материалов в проекте)
          'te': -24.0,  # job duration (срок выполнени¤ проекта)
          },
     ],
    },
    {'solar_system': 'Ignoitton',  # система указываетс¤ вручную дл¤ non-database скриптов
     'station': "Ignoitton - Svarog Reaction & Reprocessing (Svarog Pioneers)",
     'desc': 'јтанор, реакции',
     'output': [
        # Advanced Moon Materials
          16670,  # Crystalline Carbonide
          17317,  # Fermionic Condensates
          16673,  # Fernite Carbide
          16683,  # Ferrogel
          16679,  # Fullerides
          16682,  # Hypersynaptic Fibers
          16681,  # Nanotransistors
          33362,  # Nonlinear Metamaterials
          16680,  # Phenolic Composites
          33359,  # Photonic Metamaterials
          33361,  # Plasmonic Metamaterials
          57456,  # Pressurized Oxidizers      <--- уезжает на —отию (остальное не јзбель)
          57457,  # Reinforced Carbon Fiber    <--- уезжает на —отию (остальное не јзбель)
          16678,  # Sylramic Fibers
          33360,  # Terahertz Metamaterials
          16671,  # Titanium Carbide
          16672,  # Tungsten Carbide
     ],
     # Athanor: нет производственных бонусов
     'structure': 'Athanor',  # структура указываетс¤ вручную дл¤ non-database скриптов
     'structure_rigs': [
         {'activity': 'reaction',
          'me': -2.4,  # material consumption (расход материалов в проекте)
          'te': -24.0,  # job duration (срок выполнени¤ проекта)
          },
     ],
    },
    {'solar_system': 'Itamo',  # система указываетс¤ вручную дл¤ non-database скриптов
     'station': "Itamo - Production Center (BLACK MARKET INDUSTRY HOLDING)",
     'desc': 'јзбель, производство',
     'output': [
        # Advanced Components (Amarr)
          11549,  # Antimatter Reactor Unit
          11694,  # EM Pulse Generator
          11532,  # Fusion Thruster
          11689,  # Laser Focusing Crystals
          11557,  # Linear Shield Emitter
          11539,  # Nanoelectrical Microprocessor
          11537,  # Radar Sensor Cluster
          11554,  # Tesseract Capacitor Unit
          11543,  # Tungsten Carbide Armor Plate
          #57470, # U-C Trigger Neurolink Conduit           <--- не варитс¤ на јзбели (варитс¤ на —отие)
        # Advanced Components (Caldari)
          11534,  # Gravimetric Sensor Cluster
          11693,  # Graviton Pulse Generator
          11550,  # Graviton Reactor Unit
          11533,  # Magpulse Thruster
          11540,  # Quantum Microprocessor
          #57471, # R-O Trigger Neurolink Conduit           <--- не варитс¤ на јзбели (варитс¤ на —отие)
          11552,  # Scalar Capacitor Unit
          11690,  # Superconductor Rails
          11558,  # Sustained Shield Emitter
          11544,  # Titanium Diborite Armor Plate
        # Advanced Components (Gallente)
          11545,  # Crystalline Carbonide Armor Plate
          11547,  # Fusion Reactor Unit
          11531,  # Ion Thruster
          11535,  # Magnetometric Sensor Cluster
          11553,  # Oscillator Capacitor Unit
          11688,  # Particle Accelerator Unit
          11541,  # Photon Microprocessor
          11695,  # Plasma Pulse Generator
          11556,  # Pulse Shield Emitter
          #57472, # S-R Trigger Neurolink Conduit           <--- не варитс¤ на јзбели (варитс¤ на —отие)
        # Advanced Components (Minmatar)
          11555,  # Deflection Shield Emitter
          11551,  # Electrolytic Capacitor Unit
          11542,  # Fernite Carbide Composite Armor Plate
          #57473, # G-O Trigger Neurolink Conduit           <--- не варитс¤ на јзбели (варитс¤ на —отие)
          11536,  # Ladar Sensor Cluster
          11538,  # Nanomechanical Microprocessor
          11692,  # Nuclear Pulse Generator
          11548,  # Nuclear Reactor Unit
          11530,  # Plasma Thruster
          11691,  # Thermonuclear Trigger Unit
        # Advanced Components (Triglavian)                  <--- нет чертежей, не варитс¤ на јзбели
          #53288,  # Capital Singularity Radiation Convertor
          #53290,  # Capital Trinary State Processor
          #53289,  # Capital Zero-Point Field Manipulator
          #52314,  # Lattice Locked Dekaisogen
          #52310,  # Radiation Absorption Thruster
          #52311,  # Singularity Radiation Convertor
          #52313,  # Trinary State Processor
          #52312,  # Zero-Point Field Manipulator
     ],
     # Azbel: me -1% (manufacturing), te -20% (manufacturing and science), job_cost -4% (manufacturing and science)
     'structure': 'Azbel',  # структура указываетс¤ вручную дл¤ non-database скриптов
     'structure_rigs': [
         {'activity': 'research_material',
          'te': -42.0,  # job duration (срок выполнени¤ проекта)
          'job_cost': -21.0,  # job cost (стоимость выполнени¤ проекта)
          },
         {'activity': 'copying',
          'te': -42.0,  # job duration (срок выполнени¤ проекта)
          'job_cost': -21.0,  # job cost (стоимость выполнени¤ проекта)
          },
     ],
    },
    {'solar_system': 'Jita',  # система указываетс¤ вручную дл¤ non-database скриптов
     'station': "Jita IV - Moon 4 - Caldari Navy Assembly Plant",
     'desc': 'ќбщее производство (например —оти¤)',
     'output': [],
     # Sotiyo: me -1% (manufacturing), te -30% (manufacturing and science), job_cost -5% (manufacturing and science)
     'structure': 'Sotiyo',  # структура указываетс¤ вручную дл¤ non-database скриптов
     'structure_rigs': [
         {'activity': 'manufacturing',
          'me': -4.2,  # material consumption (расход материалов в проекте)
          'te': -42.0,  # job duration (срок выполнени¤ проекта)
          },
     ],
    },
]