g_monthly_jobs = {
    "factory": {
        # either "station_id" or "station_name" is required
        # if "station_id" is unknown, then the names of stations and structures will be
        # additionally loaded (too slow, please identify and set "station_id")
        "station_id": 60003760,
        "station_name": "Jita IV - Moon 4 - Caldari Navy Assembly Plant",
        # hangar, which stores blueprint copies to build T2 modules
        "blueprints_hangar": 1
    },
    "jobs": [
        {
            # for example: https://zkillboard.com/kill/80881687/
            "eft": """[Nidhoggur, pillow wang's Nidhoggur]
Imperial Navy Drone Damage Amplifier
Imperial Navy Drone Damage Amplifier
Imperial Navy Drone Damage Amplifier
Omnidirectional Tracking Enhancer II
Sentient Drone Damage Amplifier

500MN Microwarpdrive II
Drone Navigation Computer I
Drone Navigation Computer I
Sentient Omnidirectional Tracking Link,Optimal Range Script
Sentient Omnidirectional Tracking Link,Optimal Range Script
Sentient Sensor Booster,Scan Resolution Script

Fighter Support Unit II
Fighter Support Unit II
Fighter Support Unit II
Fighter Support Unit II
Fighter Support Unit II

Capital Core Defense Field Extender I
Capital Core Defense Field Extender I
Capital Core Defense Field Extender I""",
            # quantity ships per month
            "quantity": 10
        },
        {
            # funny kill: https://zkillboard.com/kill/83778181/
            # with a history: https://www.youtube.com/watch?v=UYFOtdujO5s
            "eft": """[Stratios, Vinnegar Douche's Stratios]
Damage Control II
Drone Damage Amplifier II
Multispectrum Energized Membrane II
True Sansha Medium Armor Repairer
True Sansha Medium Armor Repairer

10MN Afterburner II
Caldari Navy Warp Scrambler
Republic Fleet Large Cap Battery
Republic Fleet Large Cap Battery
Stasis Webifier II

Covert Ops Cloaking Device II
Medium Gremlin Compact Energy Neutralizer
Small Energy Neutralizer II
Small Energy Neutralizer II
Sisters Core Probe Launcher,Sisters Core Scanner Probe

Medium Auxiliary Nano Pump II
Medium Capacitor Control Circuit II
Medium Explosive Armor Reinforcer I

Federation Navy Hobgoblin x10
Federation Navy Ogre x4
Federation Navy Hammerhead x10
Warrior II x10""",
            # quantity ships per month
            "quantity": 60
        },
        {
            # funny dump of modules: https://zkillboard.com/kill/82493494/
            "eft": """[Iteron Mark V, Kemul's Iteron Mark V]







Xray S
Corpum C-Type EM Energized Membrane x3
Dread Guristas Silver Tag x2
Motley Compound
Vespa I Blueprint (Copy) x2
Projectile Weapon Rigging
Mexallon x20807
Warrior I Blueprint
Conductive Polymer
Salvager I
Salvager I
Dread Guristas Explosive Shield Amplifier
Caldari Navy Scourge Light Missile x6233
Warrior I Blueprint (Copy) x2
'Integrated' Vespa x8
High-Tech Manufacturing Tools x3
Smashed Trigger Unit x3
Decayed Medium Cap Battery Mutaplasmid
Mobile Tractor Unit
Mining Foreman Burst I Blueprint (Copy)
Decayed Assault Damage Control Mutaplasmid x4
Missile Range Script
ECCM Script
400mm Crystalline Carbonide Restrained Plates
Corpii A-Type Small Remote Capacitor Transmitter x4
Leshak Blueprint (Copy)
Pyerite x53574
Corpum C-Type Kinetic Energized Membrane
Drone Tactical Limb x28
Accelerant Decryptor
Decayed Warp Scrambler Mutaplasmid
Hammerhead II x10
Decayed Stasis Webifier Mutaplasmid
Blood Palladium Tag
Dark Blood Kinetic Energized Membrane x5
Scan Pinpointing Array II
Dark Blood Kinetic Coating
Blood Silver Tag x3
Zor's Custom Navigation Link x5
Dark Blood Radio S x4
Corpii A-Type Explosive Coating
Calm Dark Filament x6
Isogen x6137
Large Shield Extender II x2
Large Shield Extender II x4
Drone Cerebral Fragment x68
Synth Crash Booster
Metal Scraps x15
Datacore - Triglavian Quantum Engineering x2
Minmatar Encryption Methods x2
Agency 'Pyrolancea' DB3 Dose I x2
Lucent Compound
Crosslink Compact Ballistic Control System
Ballistic Control System II x2
Dark Blood Brass Tag x9
FFR Enduring Assault Damage Control
Dark Blood Microwave S x3
Mjolnir Light Missile x400
Expanded Probe Launcher I
Decayed 5MN Microwarpdrive Mutaplasmid
Tritanium x24044
Calm Electrical Filament x8
Dark Blood Standard S
Calm Exotic Filament x8
Shield Extension Charge x224
Synth Exile Booster
Nocxium x382
High-Tech Data Chip x6
Radiation Absorption Thruster x110
Fierce Dark Filament x14
Infrared S
Megacyte x34
Fleeting Compact Stasis Webifier x6
Decayed Damage Control Mutaplasmid x3
Contaminated Lorentz Fluid x3
Corpii A-Type Kinetic Coating x3
Compact Entropic Radiation Sink x2
Agency 'Hardshell' TB5 Dose II
Initiated Compact Warp Scrambler
Zero-Point Field Manipulator x153
Triglavian Survey Database x4197
Drone Capillary Fluid x1175
1MN Afterburner II
Blood Copper Tag
Melted Capacitor Console x7
Decayed Heat Sink Mutaplasmid
Blood Infrared S
Dark Blood Silver Tag x7
High-Tech Scanner x4
Decayed 500MN Microwarpdrive Mutaplasmid
Blood Infrared M x2
Dark Blood Thermal Coating x2
Scorched Telemetry Processor
Sisters Combat Scanner Probe x8
Blood Standard S x3
Decayed Heavy Energy Neutralizer Mutaplasmid x2
Optimized Attainment Decryptor
Heron Blueprint (Copy)
Agency 'Hardshell' TB3 Dose I x4
Medium Capacitor Booster II
Power Circuit
Lattice Locked Dekaisogen x81
Drone Synaptic Relay Wiring x2188
Burned Logic Circuit x16
Small F-RX Compact Capacitor Booster
Drone Interfacing
Armor Plates x9
8th Tier Overseer's Personal Effects x10
Agitated Firestorm Filament x6
Fierce Gamma Filament x3
Charred Micro Circuit x17
Corpii A-Type EM Coating x3
Medium Infectious Scoped Energy Neutralizer
Blood Ultraviolet S
Parity Decryptor x3
Blood Radio S x9
Decayed Entropic Radiation Sink Mutaplasmid
Trinary State Processor x543
Synth Drop Booster
5th Tier Overseer's Personal Effects
Calm Gamma Filament x10
Decayed Magnetic Field Stabilizer Mutaplasmid x2
Raging Firestorm Filament x2
Scourge Light Missile x100
Scourge Light Missile x200
Gravid Warp Disruptor Mutaplasmid
Republic Fleet 10MN Afterburner
Small Murky Compact Remote Shield Booster
Broken Drone Transceiver x4
Dread Guristas Explosive Shield Hardener
5MN Quad LiF Restrained Microwarpdrive x2
Unstable Large Ancillary Shield Booster Mutaplasmid
Interface Circuit x2
Capacitor Power Relay II
Capacitor Power Relay II
Drone Sharpshooting
Zero-Point Condensate x944
Malfunctioning Shield Emitter
Decayed Medium Energy Neutralizer Mutaplasmid
Mining Foreman
Augmentation Decryptor x2
Damage Control II
'Integrated' Acolyte x6
'Integrated' Acolyte
Decayed Warp Disruptor Mutaplasmid x2
Gistum C-Type Thermal Shield Amplifier
Fried Interface Circuit x19
Domination EM Shield Hardener
Salvager II
Salvager II x2
Blood Microwave S x3
Fierce Firestorm Filament x13
Decayed X-Large Shield Booster Mutaplasmid
Hobgoblin I x2
Alloyed Tritanium Bar x2
Blood Microwave M
Dark Blood Copper Tag x18
Tracking Speed Script
Caldari Navy Hornet x5
Corpum C-Type Medium Remote Capacitor Transmitter
Republic Fleet Large Shield Extender
Hobgoblin II
Hobgoblin II x3
Corpum C-Type Thermal Energized Membrane
Crystalline Isogen-10 x256
Contaminated Nanite Compound x8
Gravid X-Large Shield Booster Mutaplasmid
Decayed Small Shield Extender Mutaplasmid
Single-crystal Superalloy I-beam
Dark Blood EM Energized Membrane x2
1st Tier Overseer's Personal Effects x12
Unstable Damage Control Mutaplasmid
Dark Blood Explosive Armor Hardener x2
Mid-grade Talisman Alpha
Rogue Drone 46-X Nexus Chip
Agency 'Pyrolancea' DB5 Dose II x2
Arbalest Compact Light Missile Launcher
Glossy Compound
Defective Current Pump x7
Blood Brass Tag
Hornet I x4
Caldari Navy Vespa
Caldari Navy Vespa x4
1MN Y-S8 Compact Afterburner x2
Pithum C-Type EM Shield Amplifier
Symmetry Decryptor
Blood Radio M x4
Energy Pulse Weapons
Dark Blood EM Armor Hardener
Zydrine x231
Relic Analyzer II
Synth Mindflood Booster
Mid-grade Talisman Beta
7th Tier Overseer's Personal Effects x22
Targeting Range Script x2
Tangled Power Conduit x18
Singularity Radiation Convertor x50
Sensor Booster II
Reactive Armor Hardener
Core Probe Launcher I
Tripped Power Circuit x25


""",
            # quantity ships per month
            "quantity": 1
        },
        {
            # funny dump of modules: https://zkillboard.com/kill/82154154/
            "eft": """[Rorqual, Handsome Jack's Rorqual]
Expanded Cargohold II
Expanded Cargohold II
Expanded Cargohold II
Expanded Cargohold II

50000MN Y-T8 Compact Microwarpdrive
CONCORD Capital Shield Booster
Gistum C-Type Multispectrum Shield Hardener
Gistum C-Type Multispectrum Shield Hardener
Gistum C-Type Thermal Shield Amplifier
Pithum A-Type EM Shield Amplifier
Capital Capacitor Booster II,Navy Cap Booster 3200

CONCORD Capital Remote Shield Booster
Capital Tractor Beam I
Cynosural Field Generator I
Industrial Core II
Pulse Activated Nexus Invulnerability Core
Mining Foreman Burst II,Mining Equipment Preservation Charge
Mining Foreman Burst II,Mining Laser Field Enhancement Charge
Mining Foreman Burst II,Mining Laser Optimization Charge

Capital Drone Mining Augmentor I
Capital Drone Mining Augmentor II
Capital Drone Mining Augmentor II

Valkyrie II x100
Valkyrie II x2
Imperial Navy Curator x11
Imperial Navy Curator x1
Warrior II x29
'Excavator' Mining Drone x4
'Excavator' Mining Drone x1
Vespa II x61

Xray S
Medium Asymmetric Enduring Remote Shield Booster
Blood Bronze Tag
Suppressed Targeting System I x12
Microwave L x5
Medium F-RX Compact Capacitor Booster x3
Upgraded Armor Thermal Hardener I x10
Small Focused Anode Particle Stream I
Upgraded Energized Explosive Membrane I x3
Denny Enduring Omnidirectional Tracking Link x10
400mm Crystalline Carbonide Restrained Plates x13
Large Inefficient Hull Repair Unit x20
Clutch Restrained Warp Disruption Field Generator x5
Infiltrator I x33
Dual Heavy Afocal Pulse Maser I x2
Limited Energized Armor Layering Membrane I
Wasp I x49
Anode Light Neutron Particle Cannon I
Medium Compact Pb-Acid Cap Battery x13
Gamma S x3
Acolyte I x4
Type-D Restrained Capacitor Power Relay x7
Infrared L x6
Sansha Palladium Tag
Compact Multispectrum Energized Membrane
Small Inductive Compact Remote Capacitor Transmitter x2
200mm Rolled Tungsten Compact Plates x14
N-JM Compact Omnidirectional Tracking Enhancer x5
Multifrequency S
100MN Monopropellant Enduring Afterburner x20
Ta3 Compact Ship Scanner x13
Heavy Gremlin Compact Energy Neutralizer x3
Conductive Polymer x194
Microwave M x7
Induced Compact Multispectral ECM x3
Fleeting Compact Stasis Webifier x5
Experimental Energized Thermal Membrane I x2
Serpentis Diamond Tag x14
Initiated Compact Warp Scrambler x8
Small Focused Modal Pulse Laser I
Medium Solace Scoped Remote Armor Repairer x4
PL-0 Scoped Cargo Scanner x6
Uranium Charge S x600
Small 'Hope' Hull Reconstructor I x2
Small I-a Enduring Armor Repairer x3
Small Knave Scoped Energy Nosferatu x13
Tachyon Anode Particle Stream I x2
Upgraded Armor EM Hardener I x8
Alumel-Wired Enduring Sensor Booster x7
Infrared M x7
Linked Enduring Remote Sensor Booster x3
Charred Micro Circuit x572
Conductive Thermoplastic
Type-E Enduring Cargo Scanner x13
Heavy Water x37806
Mark I Compact Capacitor Flux Coil x11
5MN Quad LiF Restrained Microwarpdrive x3
Plutonium Charge S x200
Heavy Brief Capacitor Overcharge I x13
Melted Capacitor Console x62
Modal Light Neutron Particle Accelerator I x2
Prototype Thermal Plating I x2
Radio S x5
Large I-a Enduring Armor Repairer x32
1600mm Rolled Tungsten Compact Plates x11
Hobgoblin I x7
Particle Bore Compact Mining Laser x12
M51 Benefactor Compact Shield Recharger x2
Small I-ax Enduring Remote Armor Repairer x7
100mm Crystalline Carbonide Restrained Plates x6
Antimatter Charge S x400
Large Coaxial Compact Remote Armor Repairer x13
Kapteyn Compact Sensor Dampener x4
Xray L x4
Tungsten Charge M x800
Small I-b Polarized Structural Regenerator x6
Experimental Enduring Thermal Armor Hardener I x3
Baker Nunn Enduring Tracking Disruptor I x4
Extruded Compact Heat Sink x2
Small 'Notos' Explosive Charge I x2
Experimental Energized Explosive Membrane I x5
Phased Muon Scoped Sensor Dampener x4
J5b Enduring Warp Scrambler x10
Medium 'Hope' Hull Reconstructor I x2
Medium Radiative Scoped Remote Capacitor Transmitter x5
Reactive Armor Hardener
Mega Afocal Maser I x3
Pitfall Compact Warp Disruption Field Generator x10
Medium Knave Scoped Energy Nosferatu x2
Upgraded EM Coating I
Gamma L x8
IFFA Compact Damage Control x5
Iridium Charge M x900
Mobile Tractor Unit
Mobile Tractor Unit
Mark I Compact Reinforced Bulkheads x4
Medium YF-12a Smartbomb x2
Limited Layered Plating I x2
Ultraviolet S x3
Lead Charge L x17
Large Automated Structural Restoration x11
Small S95a Scoped Remote Shield Booster
Blood Palladium Tag
Serpentis Platinum Tag
Compact Explosive Energized Membrane x2
Heavy Anode Pulse Particle Stream I x4
Iron Charge S x700
Blood Silver Tag
Modal Ion Particle Accelerator I x2
250mm Carbide Railgun I
Initiated Enduring Multispectral ECM x3
800mm Crystalline Carbonide Restrained Plates x16
Dual Afocal Heavy Maser I x2
Vortex Compact Magnetic Field Stabilizer x4
Limited Energized Thermal Membrane I
Faint Epsilon Scoped Warp Scrambler x10
Tritanium x5016751
Praetor I x30
Medium I-b Polarized Structural Regenerator x5
Experimental Enduring EM Armor Hardener I x8
Gamma M x8
Medium Brief Capacitor Overcharge I x8
Deluge Enduring Burst Jammer x6
Upgraded Armor Kinetic Hardener I x10
Prototype Compact Kinetic Armor Hardener I x9
Compact Kinetic Energized Membrane
Prototype Compact Explosive Armor Hardener I x4
Warrior I
500MN Cold-Gas Enduring Microwarpdrive x20
Tachyon Modulated Energy Beam I
Large Rudimentary Concussion Bomb I x6
Dual Heavy Modal Pulse Laser I
Multifrequency M x4
Heavy Tapered Capacitor Infusion I x12
Hammerhead I x33
Regulated Light Neutron Phase Cannon I x2
Upgraded Multispectrum Coating I
Large ACM Compact Armor Repairer x24
Halting Compact Ladar ECM x3
Limited Explosive Plating I x2
Metal Scraps x798
10MN Y-S8 Compact Afterburner x9
Thorium Charge S x700
BZ-5 Scoped Gravimetric ECM x2
Large Solace Scoped Remote Armor Repairer x18
Regulated Ion Phase Cannon I
1MN Y-S8 Compact Afterburner x6
Blood Diamond Tag x2
Uranium Charge M x11
Dual Anode Heavy Particle Stream I
Eutectic Compact Cap Recharger x21
Coadjunct Scoped Remote Sensor Booster x6
Upgraded Armor Explosive Hardener I x12
LFT Enduring Sensor Dampener x7
Upgraded Energized Adaptive Nano Membrane I x3
Small Focused Afocal Maser I x2
Heavy Modal Pulse Laser I x5
425mm 'Scout' Accelerator Cannon x12
Medium Tapered Capacitor Infusion I
5MN Y-T8 Compact Microwarpdrive x5
Limited Armor Thermal Hardener I x9
AML Compact Omnidirectional Tracking Link x8
Small Rudimentary Concussion Bomb I x3
100MN Y-S8 Compact Afterburner x22
Limited Energized Explosive Membrane I
Tangled Power Conduit x85
Regulated Mega Neutron Phase Cannon I x11
Contaminated Nanite Compound x330
Small Shield Extender I x2
Dual Heavy Modulated Pulse Energy Beam I
Plutonium Charge M x11
Defective Current Pump x102
'Grail' Layered Plating I
Radio M x9
Mega Modal Laser I x2
Reinforced Metal Scraps
Medium I-ax Enduring Remote Armor Repairer x8
Ultraviolet L x3
Tripped Power Circuit x570
200mm Crystalline Carbonide Restrained Plates x15
Antimatter Charge M x700
Limited Mega Neutron Blaster I x10
Hornet I x3
Medium 'Vehemence' Shockwave Charge x3
Small Murky Compact Remote Shield Booster
Tungsten Charge L x13
Large 'Hope' Hull Reconstructor I x18
Heavy F-RX Prototype Capacitor Boost x14
Calm Firestorm Filament
Power Circuit
Compact Thermal Energized Membrane x2
Medium C5-L Compact Shield Booster
Heavy Modulated Pulse Energy Beam I
150mm Compressed Coil Gun I
Heavy Ghoul Compact Energy Nosferatu x5
Dual Modal Heavy Laser I x3
Cetus Scoped Burst Jammer x5
Upgraded Thermal Coating I x4
Iridium Charge L x15
F-12 Enduring Tracking Computer x5
Limited Neutron Blaster I x2
Large YF-12a Smartbomb x5
Limited Armor EM Hardener I x7
Medium Infectious Scoped Energy Neutralizer
Heavy Afocal Maser I x3
Ultraviolet M x8
'Element' Kinetic Plating I
F-89 Compact Signal Amplifier x8
Large Inductive Compact Remote Capacitor Transmitter x10
Serpentis Electrum Tag
Medium 'Notos' Explosive Charge I x2
'Collateral' Adaptive Nano Plating I
Mark I Compact Reactor Control Unit x5
Type-D Restrained Capacitor Flux Coil x3
Medium I-a Enduring Armor Repairer x7
50MN Quad LiF Restrained Microwarpdrive x14
Iron Charge M x12
Heavy F-RX Compact Capacitor Booster x11
400mm Rolled Tungsten Compact Plates x17
Type-D Restrained Reinforced Bulkheads x4
Mark I Compact Power Diagnostic System x7
DDO Scoped Tracking Disruptor I x4
10MN Monopropellant Enduring Afterburner x6
1600mm Crystalline Carbonide Restrained Plates x16
FZ-3a Enduring Gravimetric ECM x6
Small Coaxial Compact Remote Armor Repairer
CZ-4 Compact Gravimetric ECM x7
Experimental Enduring Explosive Armor Hardener I x11
Large Compact Pb-Acid Cap Battery x20
Medium Rudimentary Concussion Bomb I x7
Experimental Energized Adaptive Nano Membrane I x2
Initiated Compact Warp Disruptor x9
Prototype Compact Thermal Armor Hardener I x11
500MN Y-T8 Compact Microwarpdrive x15
J5 Enduring Warp Disruptor x15
Limited Light Ion Blaster I x2
Small Focused Modal Laser I
EP-S Gaussian Scoped Mining Laser x14
5MN Cold-Gas Enduring Microwarpdrive x7
Broken Drone Transceiver x210
'Excavator' Ice Harvesting Drone
'Excavator' Ice Harvesting Drone x4
Upgraded Kinetic Coating I x3
500MN Quad LiF Restrained Microwarpdrive x13
Mega Modulated Energy Beam I
Small Compact Pb-Acid Cap Battery x3
Small YF-12a Smartbomb x3
Limited EM Plating I x2
Salvager II x16
Thorium Charge M x12
Federation Navy Ogre
Lead Charge S x200
Anode Mega Neutron Particle Cannon I x8
Uranium Charge L x16
Large I-b Polarized Structural Regenerator x16
Small Brief Capacitor Overcharge I x5
250mm Prototype Gauss Gun
Blood Gold Tag
Damaged Artificial Neural Network x223
Blood Brass Tag x4
Heavy Karelin Scoped Stasis Grappler x16
Small Ghoul Compact Energy Nosferatu x10
Languid Enduring Ladar ECM x2
Mark I Compact Capacitor Power Relay x8
Upgraded Energized Kinetic Membrane I x4
M-36 Enduring Warp Disruption Field Generator
Large 'Vehemence' Shockwave Charge x2
Limited Energized EM Membrane I x3
Multifrequency L
Dual Modulated Heavy Energy Beam I
Experimental Thermal Plating I x4
F-23 Compact Remote Sensor Booster x3
150mm Carbide Railgun I
Plutonium Charge L x19
Salvager I
Xray M x5
Prototype Compact EM Armor Hardener I x14
Heavy Anode Particle Stream I
Radio L x11
Mega Anode Particle Stream I x3
100mm Rolled Tungsten Compact Plates x8
425mm Prototype Gauss Gun x3
Rash Compact Burst Jammer x4
Large I-ax Enduring Remote Armor Repairer x12
Standard L x5
Antimatter Charge L x13
Small Automated Structural Restoration x4
Small Infectious Scoped Energy Neutralizer
AE-K Compact Drone Damage Amplifier x6
Medium ACM Compact Armor Repairer x10
Microwave S x4
Medium Murky Compact Remote Shield Booster
Small ACM Compact Armor Repairer x6
Experimental Energized Armor Layering Membrane I
Large 'Notos' Explosive Charge I x8
Faint Scoped Warp Disruptor x8
Enfeebling Scoped Ladar ECM x9
Ogre I x22
Small Solace Scoped Remote Armor Repairer x2
Armor Plates x290
Modal Mega Neutron Particle Accelerator I x5
Medium Ghoul Compact Energy Nosferatu x5
Balmer Series Compact Tracking Disruptor I x6
ML-3 Scoped Survey Scanner x13
1MN Monopropellant Enduring Afterburner x2
Small Radiative Scoped Remote Capacitor Transmitter x9
Upgraded Layered Coating I x2
425mm Compressed Coil Gun I x8
Infrared S
Contaminated Lorentz Fluid x534
Limited Armor Explosive Hardener I x10
Heavy Infectious Scoped Energy Neutralizer x9
Limited Energized Adaptive Nano Membrane I
Type-D Restrained Expanded Cargo x2
425mm Carbide Railgun I x11
Standard M x6
50MN Cold-Gas Enduring Microwarpdrive x17
Medium Inefficient Hull Repair Unit
Medium Inductive Compact Remote Capacitor Transmitter x9
50MN Y-T8 Compact Microwarpdrive x7
Experimental Kinetic Plating I
Tachyon Modal Laser I x3
Serpentis Palladium Tag x3
Agency 'Hardshell' TB3 Dose I
250mm 'Scout' Accelerator Cannon x3
Burned Logic Circuit x674
'Spiegel' EM Plating I
Heavy Gunnar Compact Stasis Grappler x16
Iron Charge L x23
800mm Rolled Tungsten Compact Plates x8
F-293 Scoped Remote Tracking Computer x8
Modal Neutron Particle Accelerator I x3
Heavy Jigoro Enduring Stasis Grappler x13
Heavy Modal Laser I x2
Medium Automated Structural Restoration x7
Limited Armor Kinetic Hardener I x15
Highstroke Scoped Guidance Disruptor x3
Medium Coaxial Compact Remote Armor Repairer x12
Tungsten Charge S
Medium F-RX Prototype Capacitor Boost x2
Experimental Enduring Kinetic Armor Hardener I x8
Experimental Energized Kinetic Membrane I x2
C-IR Compact Guidance Disruptor x5
Fried Interface Circuit x455
Compact EM Energized Membrane x5
Large Radiative Scoped Remote Capacitor Transmitter x7
Limited Light Neutron Blaster I x2
A-211 Enduring Guidance Disruptor x4
Heavy Knave Scoped Energy Nosferatu x10
Upgraded Explosive Coating I
Small Ancillary Armor Repairer
Iridium Charge S x900
F-90 Compact Sensor Booster x5
X5 Enduring Stasis Webifier x12
Limited Ion Blaster I x2
Limited Thermal Plating I
Thorium Charge L x15
Blood Crystal Tag
Lead Charge M x13
Berserker I x50
Heavy Modulated Energy Beam I x4
Oxygen Isotopes x162886
Heavy Water x764
Liquid Ozone x10753
Compressed Monoclinic Bistot x107
Compressed Prismatic Gneiss x20
Compressed Crystalline Crokite x240
Compressed Enriched Clear Icicle x584
Compressed Gleaming Spodumain x209
Compressed Prime Arkonor x26
Compressed Vitreous Mercoxit x20
Compressed Obsidian Ochre x645
Mobile Tractor Unit
Magnetometric Sensor Cluster Blueprint
Mining Laser Optimization Charge x37968
Praetor II x30
Arkonor Mining Crystal II x8
Oscillator Capacitor Unit Blueprint
Veldspar Mining Crystal II x5
Modulated Deep Core Strip Miner II x5
Navy Cap Booster 3200 x77
Infiltrator I x2
Compact EM Shield Hardener x3
Ice Harvesting Drone II x13
Damage Control II
Liquid Ozone x69852
Crystalline Carbonide Armor Plate Blueprint
Expired Crimson Cerebral Accelerator x2
Inertial Stabilizers II x3
Mining Equipment Preservation Charge x37176
Mining Drone II x8
Fusion Reactor Unit Blueprint
Hobgoblin II x6
Modulated Strip Miner II x4
Ice Harvester II
Photon Microprocessor Blueprint
Reinforced Bulkheads II x3
Tengu Defensive - Covert Reconfiguration x2
Procurer Blueprint (Copy) x8
Procurer Blueprint (Copy) x2
Pulse Shield Emitter Blueprint
Ice Harvester Upgrade II
Mining Laser Upgrade II x7
Covert Ops Cloaking Device II
Crokite Mining Crystal II x9
Mining Laser Field Enhancement Charge x37535
Bistot Mining Crystal II x4
Capital Remote Shield Booster II
Syndicate Damage Control
Spodumain Mining Crystal II x16
Multispectrum Shield Hardener II
Scordite Mining Crystal II x6
Omnidirectional Tracking Enhancer II x2
'Wetu' Mobile Depot
Procurer Blueprint
Ion Thruster Blueprint
""",
            # quantity ships per month
            "quantity": 1
        },
        {
            # хитрый фит Tabord Ormand'а для клозового Tristan-а
            "eft": """[Tristan, Tristan (убивает в клозе, Tabord)]
Damage Control II
Multispectrum Energized Membrane II
Small Ancillary Armor Repairer

Warp Scrambler II
1MN Monopropellant Enduring Afterburner
Small F-RX Compact Capacitor Booster

Small Unstable Power Fluctuator I
Small Unstable Power Fluctuator I
Small Unstable Power Fluctuator I

Small Egress Port Maximizer I
Small Egress Port Maximizer I
Small Ancillary Current Router I



Hobgoblin II x8

Nanite Repair Paste x32
Navy Cap Booster 200 x12



""",
            # quantity ships per month
            "quantity": 5
        },
    ]
}

