body {
 color: #c5c8c9;
 background-color: #162326;
}
a.url {
 color: #ffa600;
}
a:hover.url,
a:focus.url {
 color: #ffa600;
 background-color: #8f6310;
}
hr {
 border-top: 1px solid #1d3231;
}
.panel {
 background-color: #162326;
}
.panel-default > .panel-heading {
 color: #e8e8e8;
 background-color: #21312b;
 border-color: #1d3231;
}
.btn {
 border-radius: 0px;
 font-size: 11px;
 padding: 4px 10px;
}
.btn-default {
 color: #c6cbcd;
 background-color: #1e3539;
 border-color: #5891a2;
}
.btn-default:hover {
 color: #ebf0f1;
 background-color: #56818c;
 border-color: #b3e1ed;
 text-shadow: 0 0 0.4vw #edf0f2, 0 0 8vw #edf0f2;
 box-shadow: inset 0 0 8px 1px rgba(164, 192, 198, 0.6);
}
.btn-default.active,
.btn-default:active,
.btn-default.focus,
.btn-default:focus,
.open > .dropdown-toggle.btn-default,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
 color: #616161;
 background-color: #e7e7e7;
 border-color: #e7e7e7;
}
.page-header { border-bottom: 1px solid #1d3231; }
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active { background-color: #2a493e; }
.table > tbody > tr > td { color: inherit; background-color: inherit; }
.table-hover > tbody > tr:hover,
.table > tbody > tr:active > td {
 color: #c4c8c7;
 background-color: #22312e;
}
.activity1 { background-color: #ff9900; }
.activity3,
.activity4,
.activity5,
.activity7,
.activity8 { background-color: #3371b6; }
.activity9,
.activity11 { background-color: #0a7f6f; }
.label-summary {
 font-size: 66%;
 font-weight: unset;
}
mark {
 background-color: #1a302e;
 color: #d8dada;
 padding: .3em .3em .3em;
}
.progress {
 height: 8px;
 margin-bottom: 0px;
 background-color: #232e31;
 border-radius: 0px;
}

body nav.navbar {
 background-color: #162326;
 border-radius: unset;
 margin-bottom: 6px;
 border-top: 1px solid #162326;
 border-left: 1px solid #162326;
 border-right: 1px solid #162326;
 border-bottom: 1px solid #1d3231;
}
body nav.navbar * div.navbar-header > a.navbar-brand {
 color: #c5c8c9;
}
body nav.navbar * div.navbar-collapse {
 border-color: #1d3231;
}
body nav.navbar * div.navbar-collapse > ul.navbar-nav > li > a {
 background-color: #162326;
 color: #c5c8c9;
}
body nav.navbar * div.navbar-collapse > ul.navbar-nav > li > a:focus,
body nav.navbar * div.navbar-collapse > ul.navbar-nav > li > a:active,
body nav.navbar * div.navbar-collapse > ul.navbar-nav > li > a:hover {
 background-color: #22312e;
 color: #dadada;
}
body nav.navbar * div.navbar-collapse * ul.dropdown-menu {
 background-color: #19181c;
}
body nav.navbar * div.navbar-collapse * ul.dropdown-menu > li > a {
 color: #c5c8c9;
}
body nav.navbar * div.navbar-collapse * ul.dropdown-menu > li.divider {
 background-color: #302f33;
}
body nav.navbar * div.navbar-collapse * ul.dropdown-menu > li > a:focus,
body nav.navbar * div.navbar-collapse * ul.dropdown-menu > li > a:active,
body nav.navbar * div.navbar-collapse * ul.dropdown-menu > li > a:hover {
 background-color: #22312e;
 color: #dadada;
}
body nav.navbar * div.navbar-collapse * ul.dropdown-menu > li.disabled > a {
 color: #808080;
 pointer-events: none;
}

.modal-content {
 background-color: #19181c;
 border: 1px solid #302f33;
}
div.modal-header > button.close {
 color: #d2d2d2;
 text-shadow: 0 1px 0 #1f1f1f;
}
div.modal-header {
 border-bottom: unset;
 padding: 5px;
}
div.modal-footer {
 border-top: 1px solid #302f33;
}
div.modal-header > h4 > span.text-primary {
 color: #9e6101;
}
div.modal-header > h4.modal-title {
 color: #dddcdd;
}
div.modal-body * mark {
 background-color: #242427;
}
div.modal-body * hr {
 margin-top: 4px;
 margin-bottom: 4px;
}

div.modal-content * div.tab-content {
 padding-top: 10px;
}
div.modal-content * ul.nav-tabs {
 border-bottom: 1px solid #302f33;
}
div.modal-content * .nav > li > a {
 padding: 3px 10px;
}
div.modal-content * .nav-tabs > li > a {
 margin-right: 1px;
 border-radius: unset;
}
div.modal-content * .nav-tabs > li > a,
div.modal-content * .nav-tabs > li > a:hover {
 color: #8b8a8c;
 background-color: #19181c;
 border-top: 1px solid #19181c;
 border-left: 1px solid #19181c;
 border-right: 1px solid #19181c;
 border-bottom: 1px solid #302f33;
}
div.modal-content * .nav-tabs > li > a:hover,
div.modal-content * .nav-tabs > li.active > a:hover {
 border-bottom: 1px solid #9db09e;
}
div.modal-content * .nav-tabs > li > a:focus,
div.modal-content * .nav-tabs > li.active > a,
div.modal-content * .nav-tabs > li.active > a:hover,
div.modal-content * .nav-tabs > li.active > a:focus {
 color: #e4e4e4;
 background-color: #242427;
 border-top: 1px solid #242427;
 border-left: 1px solid #242427;
 border-right: 1px solid #242427;
 border-bottom: 1px solid #9db09e;
}

div.modal-body * nav > ul.pagination {
  margin: unset;
}
div.modal-body * nav > ul.pagination > li > a {
 color: #8b8a8c;
 background-color: #19181c;
 border-top: 1px solid #19181c;
 border-left: 1px solid #19181c;
 border-right: 1px solid #19181c;
 border-bottom: 1px solid #302f33;
}
div.modal-body * nav > ul.pagination > li > a:hover,
div.modal-body * nav > ul.pagination > li.active > a:hover {
 border-bottom: 1px solid #9db09e;
}
div.modal-body * nav > ul.pagination > li > a:focus,
div.modal-body * nav > ul.pagination > li.active > a,
div.modal-body * nav > ul.pagination > li.active > a:hover,
div.modal-body * nav > ul.pagination > li.active > a:focus {
 color: #e4e4e4;
 background-color: #242427;
 border-top: 1px solid #242427;
 border-left: 1px solid #242427;
 border-right: 1px solid #242427;
 border-bottom: 1px solid #9db09e;
}

/*.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active { background-color: #2a493e; }
.table > tbody > tr > td { color: inherit; background-color: inherit; }
.table-hover > tbody > tr:hover,
.table > tbody > tr:active > td {
 color: #c4c8c7;
 background-color: #22312e;
}*/

div.modal-content * .table > thead > tr > th { border-bottom: 1px solid #302f33; }
div.modal-content * .table > tbody > tr > td { border-top: 1px solid #302f33; }
div.modal-content * .table > tbody > tr.active > td,
div.modal-content * .table > tbody > tr.active > th,
div.modal-content * .table > tbody > tr > td.active,
div.modal-content * .table > tbody > tr > th.active,
div.modal-content * .table > tfoot > tr.active > td,
div.modal-content * .table > tfoot > tr.active > th,
div.modal-content * .table > tfoot > tr > td.active,
div.modal-content * .table > tfoot > tr > th.active,
div.modal-content * .table > thead > tr.active > td,
div.modal-content * .table > thead > tr.active > th,
div.modal-content * .table > thead > tr > td.active,
div.modal-content * .table > thead > tr > th.active { background-color: #242427; }
div.modal-content * .table > tbody > tr > td { color: inherit; background-color: inherit; }
div.modal-content * .table-hover > tbody > tr:hover,
div.modal-content * .table > tbody > tr:active > td {
 color: #c4c8c7;
 background-color: #242427;
}

.table-gallente { padding: 1px; font-size: smaller; }
.table-gallente thead tr th:nth-child(1),
.table-gallente tbody tr td:nth-child(1) { width: 32px; }
.table-gallente tbody tr:hover td:nth-child(2) { border-left: 1px solid #6db09e; }
.table-gallente thead tr th { padding: 4px; border-bottom: 1px solid #1d3231; vertical-align: bottom; }
.table-gallente tbody tr td { padding: 4px; border-top: none; vertical-align: top; }
.table-gallente tfoot tr td { padding: 4px; border-top: 1px solid #1d3231; }
.table-gallente tbody tr td { border-left: 1px solid #1d3231; }
.table-gallente tbody tr td:nth-child(2) { border-left: none; }

.alert-danger {
 color: #b7b2b0;
 background-color: #362421;
 border-color: #aa2b2b;
}
.alert-warning {
 color: #c2c0bd;
 background-color: #3a2c11;
 border-color: #ce8704;
}

.form-control {
 height: 22px;
 padding: 3px 8px;
 font-size: 12px;
 border-radius: 0px;
 color: #818383;
 background-color: #0a0e0e;
 border: 1px solid #202727;
}
.form-control:focus {
 border-color: #535353;
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(223, 223, 223, 0.6);
}