/* see https://www.eveonline.com/news/view/industry-ui */
.icn12 { width:12px; height:12px; }
.icn20 { width:20px; height:20px; }
.icn_industry { width:12px; height:12px; margin-bottom:1px; }

table.qind-blueprints-tbl > tbody > tr > td { padding: 4px; border-top: none; }

table.qind-table-materials tbody > tr > td:nth-child(2) > img /* material icon (compact view) */
{ margin-top: -2px; margin-bottom: -1px; }

table.qind-table-materials > tbody > tr > td,
table.qind-table-materials > tbody > tr > th
{ padding: 1px; font-size: smaller; }

table.qind-table-materials > tbody > tr > th,
table.qind-table-materials > tbody > tr > td:nth-child(1)
{ font-weight: bold; text-align: right; }

table tbody tr.qind-fgh td, /* first group header */
table tbody tr.qind-fgh th
{ vertical-align: bottom; }

table.qind-table-materials tbody tr th:nth-child(1)
{ width: 24px; }

td.qind-mr, /* materials required */
td.qind-mp, /* materials planned */
td.qind-mc, /* materials consumed */
td.qind-rr, /* recommended runs */
td.qind-me, /* materials exist */
td.qind-ip /* materials in progress */
{ text-align: right; }

td.qind-mr { background-color: #fffbf1; } /* materials required : light yellow */
td.qind-me { background-color: #f2fff1; } /* materials exist : light green */
td.qind-mc { background-color: #f1f7ff; } /* materials consumed : light cyan */
tr:hover td.qind-mr { background-color: #f4f0e7; }
tr:hover td.qind-me { background-color: #e8f4e6; }
tr:hover td.qind-mc { background-color: #e5ecf4; }

a.qind-sign { color: #a52a2a; } /* exclamation sign: brown color */
a.qind-sign:hover { color: #981d21; } /* exclamation sign: brown color (darken) */

div.qind-bib /* blueprints interactivity block */
{ margin-left: auto; margin-right: 0; float: right; padding-top: 1px; white-space: nowrap; }

div.qind-bib a { color: #aaa; } /* material menu: gray color */
div.qind-bib a:hover { color:  #c70039; } /* material menu: dark red color */

tr.qind-em td, /* enough materials */
tr.qind-em th
{ color: #aaa; }

table.tbl-stock tr { font-size: small; }
table.tbl-stock tbody tr td:nth-child(2) img /* material icon (compact view) */
{ margin-top: -2px; margin-bottom: -1px; }
table.tbl-stock tbody tr td { padding: 1px; font-size: smaller; }
table.tbl-stock thead tr { height: 50px; }
table.tbl-stock thead tr th:nth-child(1),
table.tbl-stock tbody tr td:nth-child(1) { width: 24px; font-weight: bold; text-align: right; padding-left: 4px; }
table.tbl-stock tbody tr td:nth-child(2) { white-space: nowrap; }
table.tbl-stock thead tr th:nth-child(3),
table.tbl-stock thead tr th:nth-child(4),
table.tbl-stock thead tr th:nth-child(5),
table.tbl-stock tbody tr td:nth-child(3),
table.tbl-stock tbody tr td:nth-child(4),
table.tbl-stock tbody tr td:nth-child(5) { text-align: right; }

table.tbl-conveyor tr { font-size: small; }
table.tbl-conveyor tbody tr td { padding: 1px; font-size: smaller; }
table.tbl-conveyor thead tr th:nth-child(1),
table.tbl-conveyor tbody tr td:nth-child(1) { width: 24px; font-weight: bold; text-align: right; }
table.tbl-conveyor tbody tr td:nth-child(2) { padding-left: 4px; white-space: nowrap; }

table.tbl-lifetime tr { font-size: small; }
table.tbl-lifetime tbody tr td { padding: 1px; font-size: smaller; }
table.tbl-lifetime thead tr th:nth-child(1),
table.tbl-lifetime tbody tr td:nth-child(1) { width: 49%; font-weight: bold; text-align: right; }
table.tbl-lifetime tbody tr td:nth-child(2) { padding-left: 4px; }
table.tbl-lifetime tbody tr td left { color: #ffa600; }

.badge-light { color: #212529; background-color: #f8f9fa; }
.label-time { color: #131313; background-color: #7adee3; }
.label-not-enough { color: #fff; background-color: #f0ad4e; }
.label-impossible { color: #fff; background-color: #d9534f; }
.label-impossible-ntier { color: #fff; background-color: #e89694; }
.label-not-available { color: #fff; background-color: #b7b7b7; }
.text-material-industry-ntier { color: #aaa; }
.text-material-buy-ntier { color: #a67877; }
div.qind-tid { font-size: 85%; }
tid { white-space: nowrap; }
mute { color: #777; }

/* основная таблица конвейера */
table.tbl-summary { padding: 1px; font-size: smaller; }
table.tbl-summary thead tr th:nth-child(1),
table.tbl-summary tbody tr td:nth-child(1) { width: 24px; font-weight: bold; text-align: right; }
table.tbl-summary thead tr th:nth-child(2),
table.tbl-summary tbody tr td:nth-child(2),
table.tbl-summary thead tr th:nth-child(6),
table.tbl-summary tbody tr td:nth-child(6) { width: 32px; }
table.tbl-summary tbody tr:hover td:nth-child(3),
table.tbl-summary tbody tr.job-active:hover td:nth-child(7),
table.tbl-summary tbody tr.job-completed:hover td:nth-child(7) { border-left: 1px solid #6db09e; }
table.tbl-summary thead tr th { padding: 4px; border-bottom: 1px solid #1d3231; vertical-align: bottom; }
table.tbl-summary tbody tr td { padding: 4px; border-top: none; vertical-align: top; }
table.tbl-summary tfoot tr td { padding: 4px; border-top: 1px solid #1d3231; }
table.tbl-summary tbody tr td { border-left: 1px solid #1d3231; }
table.tbl-summary tbody tr td:nth-child(3),
table.tbl-summary tbody tr td:nth-child(7) { border-left: none; }
table.tbl-summary thead tr th:nth-child(4),
table.tbl-summary tbody tr td:nth-child(4),
table.tbl-summary thead tr th:nth-child(5),
table.tbl-summary tbody tr td:nth-child(5),
table.tbl-summary thead tr th:nth-child(8),
table.tbl-summary tbody tr td:nth-child(8) { text-align: right; }
table.tbl-summary tbody tr td:nth-child(3),
table.tbl-summary tbody tr td:nth-child(7) { white-space: nowrap; }

/* table.tbl-summary tbody tr.job-active { color: #bcbcbc; } */
table.tbl-summary tbody tr.job-active td:nth-child(6) { opacity: 0.5; }
table.tbl-summary tbody tr.job-active :is(td:nth-child(7),td:nth-child(8)) { color: #666; }
table.tbl-summary tbody tr.job-active :is(td:nth-child(7),td:nth-child(8)) mute { color: #444; }
table.tbl-summary tbody tr.job-completed td:nth-child(2) { opacity: 0.5; }
table.tbl-summary tbody tr.job-completed :is(td:nth-child(3),td:nth-child(4)) { color: #666; }
table.tbl-summary tbody tr.job-completed :is(td:nth-child(3),td:nth-child(4)) mute { color: #444; }
table.tbl-summary tbody tr.lost-jobs,
table.tbl-summary tbody tr.lost-blueprints,
table.tbl-summary tbody tr.lost-assets { }
table.tbl-summary tbody tr.phantom-blueprints { opacity: 0.15; }
table.tbl-summary tbody tr.row-overstock,
table.tbl-summary tbody tr.row-multiple,
table.tbl-summary tbody tr.row-possible,
table.tbl-summary tbody tr.row-optional,
table.tbl-summary tbody tr.row-impossible,
table.tbl-summary tbody tr td div.run-possible { }
table.tbl-summary tbody tr td div.run-optional {
 background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 49.9%, #541 49.9%, #541 60%, rgba(0, 0, 0, 0) 60%) fixed,
             linear-gradient(-45deg, #541 10%, rgba(0, 0, 0, 0) 10%) fixed;
 background-size: 1em 1em }
table.tbl-summary tbody tr td div.run-impossible {
 background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 49.9%, #421 49.9%, #421 60%, rgba(0, 0, 0, 0) 60%) fixed,
             linear-gradient(-45deg, #421 10%, rgba(0, 0, 0, 0) 10%) fixed;
 background-size: 1em 1em }

table.tbl-summary tbody tr.row-conveyor td { font-size: medium; text-align: left; background: #111b1b; border-bottom: 1px solid #111b1b; }
table.tbl-summary tbody tr.row-conveyor:hover td { border-bottom: 1px solid #6db09e; }

table.tbl-summary tbody tr td qmaterials { font-size: 85%; }
table.tbl-summary tbody tr td qmaterials qmat { border: 1px solid transparent; cursor: pointer; }
table.tbl-summary tbody tr td qmaterials qmat:hover { border: 1px dashed #6db09e; }
table.tbl-summary tbody tr td qmaterials qmat.choose { border: 1px solid #57b69f; color: #eee; background-color: #375861; }
table.tbl-summary tbody tr td qmaterials qmat.absent { border: 1px dashed #fd9700; }
table.tbl-summary tbody tr td qmaterials qmat.absent.choose { border: 1px solid #fd9700; color: #eee; background-color: #5c2d19; }

/* таблица маршрутизатора */
table.tbl-router { padding: 1px; font-size: smaller; }
table.tbl-router thead tr th:nth-child(1),
table.tbl-router tbody tr td:nth-child(1) { width: 24px; font-weight: bold; text-align: right; }
table.tbl-router thead tr th:nth-child(2),
table.tbl-router tbody tr td:nth-child(2) { width: 24px; }
table.tbl-router tbody tr:hover td:nth-child(3) { border-left: 1px solid #6db09e; }
table.tbl-router thead tr th { padding: 4px; border-bottom: 1px solid #1d3231; vertical-align: bottom; }
table.tbl-router tbody tr td { padding: 0px; padding-left: 4px; padding-right: 4px; border-top: none; vertical-align: top; }
table.tbl-router tfoot tr td { padding: 4px; border-top: 1px solid #1d3231; }
table.tbl-router tbody tr td { border-left: 1px solid #1d3231; }
table.tbl-router tbody tr td:nth-child(3) { border-left: none; }
table.tbl-router thead tr th:nth-child(4),
table.tbl-router tbody tr td:nth-child(4),
table.tbl-router thead tr th:nth-child(5),
table.tbl-router tbody tr td:nth-child(5) { text-align: right; }
table.tbl-router tbody tr td:nth-child(3) { white-space: nowrap; }

table.tbl-router tbody tr.row-station td { font-size: medium; text-align: left; background: #111b1b; border-bottom: 1px solid #111b1b; }
table.tbl-router tbody tr.row-station td:nth-child(2) { font-size: 110%; text-align: right; vertical-align: bottom; white-space: nowrap; }
table.tbl-router tbody tr.row-station:hover td { border-bottom: 1px solid #6db09e; }

span.lost-sign { color: #e28552; }

bp_tag { color: #777; }
me_tag { color: #3372b6; font-weight: bold; padding: .1em .1em .1em; border: 1px solid #383739; }
/* tid_tag { color: #777; font-size: 85%; } */

.label-active-job { background-color: #213a42; color: #ccc; }
.label-completed-job { background-color: #0f1111; color: #aaa; }
.label-phantom-blueprint { background-color: #4f351d; color: #d6a879; }
.label-lost-blueprints,
.label-lost-assets,
.label-lost-jobs { background-color: #f96900; color: #111111; }

/* кнопка включения видимости контейнера */
.qind-btn-hide { opacity: 0.75; }
.qind-btn-hide:hover { opacity: 1.0; } /*d94c16 4d91cf*/
.qind-btn-hide-open { color: #23527c; }
.qind-btn-hide-open:hover { color: #337ab7; } /*d94c16 4d91cf*/
.qind-btn-hide-close { color: #66341f; }
.qind-btn-hide-close:hover { color: #d94c16; } /*d94c16 4d91cf*/
/* поведение кнопки копирования около названия декриптора */
qdecr { color: #8dc169; }
.qind-copy-btn:hover + * + qdecr { color: #ec5c5c; }
/* поведение метки перепроизводства */
.label-overstock { background-color: #000; color: #ffa600; }
@keyframes overstock-pulsate{50%{color:#ffa600;text-shadow:0 -1px rgba(0,0,0,.3),0 0 5px #f09000,0 0 8px #ff0048;}}
.qind-copy-btn:hover + * ~ div .label-overstock {
 color: #ff0048;
 -webkit-animation: overstock-pulsate 1.2s linear infinite;
 animation: overstock-pulsate 1.2s linear infinite;
}
/* поведение кнопки info около продукта инвента */
div.industry-products a.qind-info-btn { color: #808080; }
div.industry-products a.qind-info-btn:hover,
div.industry-products a.qind-info-btn:active,
div.industry-products a.qind-info-btn:focus { color: #aaa; }
#modalIndustryProduct * span.quantity { color: #ffa600; }